APP_NAME=SHiFT Code Auto Submitter
DATA_DIR=data
UNSUBMITTED_CODES_PATH=data/unsubmitted_codes.json
SUBMITTED_CODES_PATH=data/submitted_codes.json
REQUEST_TIMEOUT_SECONDS=15
SHIFT_HOME_URL=https://shift.gearboxsoftware.com/home
LOGIN_MAX_ATTEMPTS=3
HEADLESS_BROWSER=false
TARGET_GAME=Borderlands 4
TARGET_PLATFORM_BUTTON_TEXT=Redeem for PSN
CHECK_BUTTON_TEXT=CHECK
INVALID_CODE_MESSAGE=This SHiFT code does not exist
PLATFORM_SELECTION_MESSAGE=Please select the platform and game you'd like to receive your SHiFT rewards.
USERNAME=
PASSWORD=
